.grid {
  margin: 8px;
  position: relative; }

.item {
  display: block;
  margin: 8px;
  position: absolute; }

.item.muuri-item-dragging {
  z-index: 3; }

.item.muuri-item-releasing {
  z-index: 2; }

.item.muuri-item-hidden {
  z-index: 0; }

.item--content {
  align-items: flex-start;
  color: #333744;
  background-color: #F4F3F3;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding: 22px;
  min-height: 120px;
  left: 0px;
  top: 0px;
  width: 280px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px; }

.item--content--message,
.item--content--user {
  width: 100%; }

.item--content--user {
  text-align: right;
  font-size: 12px; }

.item--content--user--division {
  color: #989EB0; }

.item--content--message {
  display: flex;
  align-items: top;
  font-size: 12px; }
  .item--content--message .icon {
    margin-right: 18px;
    width: 84px;
    height: 84px;
    border-radius: 42px; }

.item--filter--container {
  background-color: white;
  width: 200px;
  position: absolute;
  right: 16px;
  display: flex;
  height: 36px;
  border-radius: 5px; }

.grid-control {
  display: flex;
  position: relative;
  width: 100%; }

.grid-control-field {
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 12px;
  font-size: 16px;
  font-weight: 700;
  color: #455db3;
  background: transparent;
  border: 0;
  border-radius: 0;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; }

.grid-control-icon {
  left: 0; }

.grid-control-icon, .grid-select-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 2;
  pointer-events: none;
  color: #da5565;
  width: 18px;
  height: 36px;
  padding: 1px 12px; }

.grid-select-arrow {
  right: 0; }

.grid-control-icon svg, .grid-select-arrow svg {
  flex-grow: 1; }

.page--content--scroll {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 10px;
  height: 50px;
  cursor: pointer; }

.page--content--scroll span {
  position: absolute;
  left: -24px;
  top: -24px;
  color: #eee;
  font-size: 1rem;
  letter-spacing: 0.05em; }

.page--content--scroll::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #eee;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0; }

.page--content--scroll-back {
  font-size: 1rem; }

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0; }
  30% {
    height: 30px;
    opacity: 1; }
  100% {
    height: 0;
    top: 50px;
    opacity: 0; } }

@font-face {
  font-family: "homemade-apple";
  src: url("/farewell-satsuki/fonts/HomemadeApple-Regular.ttf") format("truetype"); }

body {
  padding: 0;
  margin: 0; }

.section.key-visual {
  display: flex;
  flex-direction: column; }

.loading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

.wrapper .page {
  color: white;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0; }
  .wrapper .page .page--content {
    font-family: homemade-apple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .wrapper .page .page--content.hidden {
      display: none; }
  .wrapper .page.loading {
    background: linear-gradient(239.78deg, #2F87CE 26.17%, #405CB9 66.5%);
    z-index: 101; }
  .wrapper .page.intro {
    display: none;
    background: url("/farewell-satsuki/img/background.png"), linear-gradient(239.78deg, #2F87CE 26.17%, #405CB9 66.5%);
    z-index: 100;
    justify-content: center;
    align-items: center;
    background-size: contain; }
    .wrapper .page.intro .page--content {
      position: relative;
      width: 50%;
      height: 50%;
      text-align: center; }
      .wrapper .page.intro .page--content .page--content--header {
        z-index: 101;
        font-size: 48px;
        line-height: 1.7; }
        .wrapper .page.intro .page--content .page--content--header div:nth-child(1) {
          color: #EC4862; }
        .wrapper .page.intro .page--content .page--content--header div:nth-child(2) {
          color: #4e546b; }
        .wrapper .page.intro .page--content .page--content--header div:nth-child(3) {
          color: #206db5; }
      .wrapper .page.intro .page--content .page--content--body {
        margin-top: 24px;
        z-index: 101;
        font-family: initial; }
        .wrapper .page.intro .page--content .page--content--body div:nth-child(1) {
          color: #333744; }
        .wrapper .page.intro .page--content .page--content--body div:nth-child(2) {
          color: #585F76; }
      .wrapper .page.intro .page--content img {
        position: absolute;
        max-width: 640px;
        z-index: 100; }

.loading--body {
  text-align: center;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .loading--body .loading--body--heart {
    height: 24px; }
    .loading--body .loading--body--heart img {
      width: 24px;
      height: 24px; }

.icon {
  width: 50px;
  height: 50px;
  border-radius: 25px; }

.loading--indicator {
  opacity: 0;
  font-family: initial;
  text-align: center; }

.section.messages {
  background-color: white; }
  .section.messages header {
    font-family: homemade-apple;
    font-size: 13px;
    color: white;
    align-items: center;
    display: flex;
    width: 100%;
    background: linear-gradient(239.78deg, #2F87CE 26.17%, #405CB9 66.5%);
    height: 70px; }
  .section.messages .loading--body {
    width: 150px;
    font-family: initial; }
    .section.messages .loading--body .loading--body--we {
      font-size: 18px;
      padding-top: 6px; }
    .section.messages .loading--body .loading--body--heart > img {
      height: 24px;
      width: 24px; }
    .section.messages .loading--body img {
      width: 48px;
      height: 48px; }
