@font-face {
  font-family: "whitneyssm-book";
  font-style: normal;
  font-weight: normal;
  src: url("../font/whitneyssm/whitneyssm-book.eot") format("embedded-opentype"),
    url("../font/whitneyssm/whitneyssm-book.woff2") format("woff2"),
    url("../font/whitneyssm/whitneyssm-book.woff") format("woff"),
    url("../font/whitneyssm/whitneyssm-book.ttf") format("truetype");
}
@font-face {
  font-family: "whitneyssm-semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../font/whitneyssm/whitneyssm-semibold.eot")
      format("embedded-opentype"),
    url("../font/whitneyssm/whitneyssm-semibold.woff2") format("woff2"),
    url("../font/whitneyssm/whitneyssm-semibold.woff") format("woff"),
    url("../font/whitneyssm/whitneyssm-semibold.ttf") format("truetype");
}
