.flex {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
}

.text-center {
  text-align: center;
}

.text-blue {
  color: $blue;
  font-weight: bold;
}

.text-white {
  color: $white !important;
}

.small {
  font-size: 12px;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.hide-pc {
  @media (min-width: 769px) {
    display: none;
  }
}

.hide-sp {
  @media (max-width: 768px) {
    display: none;
  }
}


