// Typography

$font-family-body: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-header: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-message: "Sawarabi Gothic", "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Breakpoint

$md: 768px;

// Color

$gray: #404040;
$light-gray: #B6BCCF;
$pale-gray: #e3e3ee;
$black: #323734;
$blue: #2378BD;
$light-blue: #dce7f4;
$sky-blue: #7BAED7;
$white: #fafafa;
$pink: #FB4E6A;
$navy: #333744;
$light-navy: #243B57;
