@font-face {
  font-family: "homemade-apple";
  src: url("/farewell-satsuki/fonts/HomemadeApple-Regular.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
}

.section.key-visual {
  display: flex;
  flex-direction: column;
  // height: 100vh;
}
.loading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrapper {
  .page {
    color: white;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    .page--content {
      font-family: homemade-apple;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &.hidden {
        display: none;
      }
    }
    position: absolute;
    top: 0;
    left: 0;

    &.loading {
      background: linear-gradient(239.78deg, #2F87CE 26.17%, #405CB9 66.5%);
      z-index: 101;
    }

    &.intro {
      display: none;
      background: url('/farewell-satsuki/img/background.png'), linear-gradient(239.78deg, #2F87CE 26.17%, #405CB9 66.5%);
      z-index: 100;
      justify-content: center;
      align-items: center;
      background-size: contain;

      .page--content {
        position: relative;
        width: 50%;
        height: 50%;
        text-align: center;
        .page--content--header {
          z-index: 101;
          font-size: 48px;
          line-height: 1.7;
          div:nth-child(1) {
            color: #EC4862;
          }
          div:nth-child(2) {
            color: rgb(78,84,107);
          }
          div:nth-child(3) {
            color: rgb(32,109,181);
          }
        }
        .page--content--body {
          margin-top: 24px;
          z-index: 101;
          font-family: initial;
          div:nth-child(1) {
            color: #333744;
          }
          div:nth-child(2) {
            color: #585F76;
          }
        }
        img {
          position: absolute;
          // top: 0;
          // left: -40px;
          max-width: 640px;
          z-index: 100;
        }
      }
    }
  }
}

.loading--body {
  text-align: center;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  $heart-icon-size: 24px;
  .loading--body--heart {
    height: $heart-icon-size;
    img {
      width: $heart-icon-size;
      height: $heart-icon-size;
    }
  }
}

$icon-size: 50px;
.icon {
  width: $icon-size;
  height: $icon-size;
  border-radius: $icon-size / 2;
}
.loading--indicator {
  opacity: 0;
  // transition: 0.1s ease-in-out;
  font-family: initial;
  text-align: center;
}



.section.messages {
  background-color: white;

  header {
    font-size: 13px;
    color: white;
    align-items: center;
    display: flex;
    width: 100%;
    background: linear-gradient(239.78deg, #2F87CE 26.17%, #405CB9 66.5%);
    height: 70px;
  }

  .loading--body {
    width: 150px;
    .loading--body--we {
      font-family: homemade-apple;
      font-size: 18px;
      padding-top: 6px;
    }
    .loading--body--heart > img {
      height: 24px;
      width: 24px;
    }
    img {
      width: 48px;
      height: 48px;
    }
  }
}
